<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Renv Restaurant Apps</title>
</head>
<body>
  <a href="#content" class="skip-link">To Main Content </a>

  <!-- navbar untuk tampilan mobile  -->
  <div class="mobile-menu">
    <div class="icon-menu" id="menu"><a href="#">&#9776;</a>
    </div>
    <div class="logo">Renv.</div>
  </div>
  <nav id="drawer-nav" class="mobile-nav">
    <ul class="nav-list-mobile">
      <li class="nav-item-mobile"><a href="/">Home</a></li>
      <li class="nav-item-mobile"><a href="#">Favorite</a></li>
      <li class="nav-item-mobile"><a href="https://www.linkedin.com/in/rahimakmal/">About Us</a></li>
    </ul>
  </nav>

  <!-- navbar untuk tampilan desktop  -->
  <nav class="desktop-nav">
    <a href="#" class="logo">Renv. </a>
    <ul class="nav-list-desktop">
      <li class="nav-item-desktop"><a href="/">Home</a></li>
      <li class="nav-item-desktop"><a href="#">Favorite</a></li>
      <li class="nav-item-desktop"><a href="https://www.linkedin.com/in/rahimakmal/">About Us</a></li>
    </ul>
  </nav>

  <!-- jumbotron element  -->
  <div class="jumbotron"
    style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg')">
    <div class=" jumbotron-child">
      <h1 class="jumbotron-title">Renv Restaurant Apps</h1>
      <p class="jumbotron-description">Find your best Restaurant in here</p>
    </div>
  </div>

  <!-- konten  -->
  <main id="content">
    <section class="content">
      <div class="latest-list">
        <h1>Find Your Restaurant</h1>
        <div class="list" id="list"></div>
      </div>
    </section>
  </main>

  <!-- footer  -->
  <footer>
    <p>Copyright &copy; 2024 - Renv Restaurant Apps</p>
  </footer>
</body>
</html>