@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

body {
  font-size: 14px;
  color: black;
}

.mobile-menu {
  background-color: #222831;
  color: white !important;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  justify-content: space-between
}

.mobile-nav {
  background-color: #222831;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}

.nav-list-mobile {
  width: 60%;
  padding: 0;
  margin: 0;
  text-align: left
}

.nav-item-mobile {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: capitalize;
  color: white !important
}

.icon-menu a {
  text-decoration: none;
  color: white !important;
  font-size: 50px;
}

.mobile-nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
}

.desktop-nav {
  background-color: #222831;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-list-desktop {
  width: 80%;
  padding: 0;
  margin: 0;
  text-align: right;
}

.logo {
  width: 20%;
  padding: 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  line-height: 24px;
}

.nav-item-desktop {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: capitalize;
}

.desktop-nav a {
  display: inline-block;
  padding: 1.4em;
  text-decoration: none;
  color: white !important
}

.desktop-nav a:hover {
  text-decoration: underline;
}

.jumbotron {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important;
}

.jumbotron-child {
  margin: 0 auto;
  max-width: 800px
}

.jumbotron-title {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  text-shadow: 1px 1px #141414
}

.jumbotron-description {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px #141414
}

main {
  width: 100%;
  margin: 0 auto
}

.content {
  padding: 32px
}

.latest-list {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center
}

.latest-list h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 50px
}

.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px
}

.list-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative
}

.city {
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 5px;
  background-color: #222831;
  padding: 5px 10px 5px;
  color: white;
  font-weight: 500
}

.item-content {
  padding: 16px
}

.item-picture {
  width: 100%;
}

.item-rating {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500
}

.rating-value {
  border-radius: 5px;
  padding: 5px 10px 5px;
  background-color: red;
  color: white;
  text-decoration: none
}

.item-title {
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  transition: 0.3s opacity
}

.read-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.item-title:hover {
  opacity: 0.5
}

.item-title a {
  text-decoration: none;
  color: inherit
}

.item-description {
  margin-top: -30px;
  font-size: 12px;
  line-height: 1.5em;
  max-height: 200px;
  overflow: hidden;
}

footer {
  background-color: #222831;
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none
}

.skip-link:focus {
  top: 100px
}

/* responsive view css  */
@media screen and (min-width: 500px) {
  .mobile-menu {
    display: none
  }

  .mobile-nav {
    display: none
  }
}

@media screen and (max-width: 499px) {
  .desktop-nav {
    display: none
  }

  .mobile-nav {
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: transform 0.3s ease
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  .nav-list-desktop {
    display: list-item;
    color: black !important;
    width: 100%;
    text-align: left
  }
}

@media screen and (min-width: 650px) {
  .item-content {
    padding: 16px 32px 32px 32px
  }

  .item-title {
    font-size: 18px
  }

  .item-description {
    font-size: 14px
  }
}

@media screen and (min-width: 700px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px
  }
}

@media screen and (min-width: 900px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px
  }
}