@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif
}

:root {
  --secondary-color: black;
  --third-color: #fff;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

body {
  font-size: 14px;
  color: black;
}

.mobile-menu {
  background-color: #222831;
  color: white !important;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  justify-content: space-between
}

.mobile-nav {
  background-color: #222831;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  text-transform: capitalize;
}

.nav-list-mobile {
  width: 60%;
  padding: 0;
  margin: 0;
  text-align: left
}

.nav-item-mobile {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: capitalize;
  color: white !important
}

.icon-menu a {
  text-decoration: none;
  color: white !important;
  font-size: 50px;
}

.mobile-nav a {
  display: inline-block;
  padding: 1.3em;
  text-decoration: none;
}

.desktop-nav {
  background-color: #222831;
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-list-desktop {
  width: 80%;
  padding: 0;
  margin: 0;
  text-align: right;
}

.logo {
  width: 20%;
  padding: 0;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  line-height: 24px;
}

.nav-item-desktop {
  box-sizing: border-box;
  display: inline-block;
  text-align: right;
  line-height: 24px;
  text-transform: capitalize;
}

.desktop-nav a {
  display: inline-block;
  padding: 1.4em;
  text-decoration: none;
  color: white !important
}

.desktop-nav a:hover {
  text-decoration: underline;
}

.jumbotron {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-color: Black !important;
}

.jumbotron-child {
  margin: 0 auto;
  max-width: 800px
}

.jumbotron-title {
  color: #fff;
  font-weight: 600;
  font-size: 46px;
  text-shadow: 1px 1px #141414
}

.jumbotron-description {
  color: #fff;
  margin-top: 16px;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 1px 1px #141414
}

main {
  width: 100%;
  margin: 0 auto
}

.content {
  padding: 32px
}

.latest-list {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center
}

.latest-list h1 {
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 50px
}

.list {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-row-gap: 16px
}

.list-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
  position: relative
}

.city {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #222831;
  padding: 5px 10px 5px;
  color: white;
  font-weight: 500
}

.item-content {
  padding: 16px
}

.item-picture {
  width: 100%;
}

.item-rating {
  font-size: 22px;
  color: black;
  font-weight: 500;

}

.rating-value {
  color: red;
  text-decoration: none;
  font-size: 38px;
}

.item-title {
  font-weight: 500;
  margin-top: 22px;
  transition: 0.3s opacity
}

.item-title a {
  font-size: 38px;
}

.read-more {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.item-title:hover {
  opacity: 0.5
}

.item-title a {
  text-decoration: none;
  color: inherit
}

.item-description {
  margin-top: -30px;
  font-size: 12px;
  line-height: 1.5em;
  max-height: 200px;
  overflow: hidden;
}

footer {
  background-color: #222831;
  color: white;
  font-size: 14px;
  padding: 2em;
  width: 100%;
  text-align: center
}

.skip-link {
  position: absolute;
  top: -100px;
  left: 0;
  background-color: #bf1722;
  color: white;
  padding: 10px;
  font-size: 20px;
  z-index: 100;
  text-decoration: none
}

.skip-link:focus {
  top: 100px
}

.button-detail {
  align-items: center;
  background-color: #FFFFFF;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

#root {
  padding-top: 65px;
}

.restaurant {
  width: 100%;
}

.restaurant-detail__wrapper h4 {
  margin: 0;
}

.restaurant-detail__rating {
  margin-right: 15px;
}

.restaurant-detail__category {
  font-size: 12px;
  padding: 5px 20px;
  color: white;
  background-color: var(--decoration-color);
}

.restaurant-detail__thumbnail {
  width: 100%;
}

.restaurant-detail__info,
.restaurant-detail__menu-list,
.restaurant-detail__review {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 750px;
  margin: 0 auto;
}

.restaurant-detail-foods>li,
.restaurant-detail-drinks>li {
  list-style: none;
  margin: 10px 15px;
  padding: 1px;
  color: black;
  text-align: left;
}

.foods,
.drinks {
  padding-top: 10px;
}

.detail {
  display: grid;
  grid-gap: 1.545em;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
}

.detail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.detail-name-address-rating {
  display: inline-block;
  margin: 0;
}

.icon-primary {
  color: black;
}

.detail-desc {
  text-align: justify;
  color: black;
  margin-bottom: 0.5em;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.category {
  padding: 0.3em 1em;
  color: var(--third-color);
  background-color: black;
  margin-right: 2px;
  border: 1px solid transparent;
  text-align: left;
  height: 50px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 0;
  margin-bottom: 0;
  margin: 20px;
}

.resto-item_image-container {
  max-width: 600px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-info h4 {
  padding-top: 20px;
  color: black;
  font-size: 1.5em;
  margin: 0;
  text-align: left;
}

.detail-info li {
  color: black;
  position: relative;
  display: block;
  margin-top: 10px;
}

.resto-name {
  font-size: 18px;
  text-align: left;
}

.resto-address,
.resto-rating,
.resto-category {
  font-size: 14px;
  margin: 0;
  text-align: left;
}

.explore-restaurant__label {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.explore-restaurant__label::after {
  content: '';
  margin-top: 16px;
  display: block;
  border-bottom: 3px solid black;
}

#explore-restaurant-list {
  display: grid;
  grid-row-gap: 1.5em;
  padding-top: 1.5em;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

form {
  margin: 2em 0;
  padding: 1.5em;
}

.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0.738em;
  font-size: 1.37em;
  color: black;
  background-color: var(--third-color);
  border: 1px solid black;
}

.form-label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  text-align: left;
  color: black;
}

.mb-3 {
  margin-bottom: 1.3em;
  margin-top: 0.5em;
}

.btn {
  display: block;
  width: 100px;
  height: 50px;
  font-size: 1.37em;
  color: var(--third-color);
  background-color: black;
  border: 2px solid black;
}


.detail-review {
  display: grid;
  gap: 20px;
  max-width: 100%;
  font-size: 1em;
  text-align: center;
  margin: 20px;
}

.detail-review-item {
  color: black;
  background-color: white;
  margin-bottom: 1.5em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.header-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-review {
  font-weight: bold;
  font-size: 1.5em;
  margin-left: 13px;
}

.body-review {
  padding: 1em;
  text-align: left;
  font-size: 1.37em;
}

.restaurant-empty {
  margin-top: 30px;
  text-align: center;
}

/* responsive view css  */
@media screen and (min-width: 500px) {
  .mobile-menu {
    display: none
  }

  .mobile-nav {
    display: none
  }
}

@media screen and (max-width: 499px) {
  .desktop-nav {
    display: none
  }

  .mobile-nav {
    z-index: 10;
    background-color: #fff;
    width: 100%;
    position: absolute;
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    transition: transform 0.3s ease
  }

  .open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0)
  }

  .nav-list-desktop {
    display: list-item;
    color: black !important;
    width: 100%;
    text-align: left
  }
}

@media screen and (min-width: 650px) {
  .item-content {
    padding: 16px 32px 32px 32px
  }

  .item-title,
  .item-address {
    font-size: 18px
  }

  .item-description {
    font-size: 14px
  }
}

@media screen and (min-width: 700px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 16px
  }
}

@media screen and (min-width: 900px) {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1200px
  }
}

@media only screen and (max-width: 768px) {

  .restaurant-detail__info,
  .restaurant-detail__menu-list,
  .restaurant-detail__review {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 50px;
    margin: 0 auto;
  }

  .detail-review {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .resto-item_image-container {
    max-width: 300px;
  }
}


@media only screen and (min-width: 1200px) {
  nav {
    padding: 0 100px;
  }

  .list-resto {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .container-info {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 1.5em;
    margin-top: 1em;
  }
}

@media only screen and (min-width: 700px) {
  .header_menu {
    display: none;
  }

  section {
    margin-bottom: 80px;
  }

  .main-resto_label {
    font-size: 26px;
  }

  .list-resto {
    grid-template-columns: 1fr 1fr;
  }

  .resto-item_name {
    font-size: 22px;
  }


}